<div class="customerForm">
    <div class="header">
        <div class="headerLeft">
            <i class="fa-solid fa-user"></i>
            <p class="mn ">Job Worker</p>
        </div>

        <div class="headerRight">
            <p matDialogClose="" > &times; </p>
        </div>
    </div>

    
    <div class="body">

        <div class="row" style="text-align: right;" >
            <div class="col100" >
                <label class="toggle">
                    <input class="toggle-checkbox" type="checkbox" [checked]="Party.Active_Status" [(ngModel)]="Party.Active_Status"> <!-- (change)="SetActiveStatus($event)"  -->
                    <div class="toggle-switch"></div>
                    <span class="toggle-label"> {{Party.Active_Status == 1? 'Active' : 'InActive' }}  </span>
                </label>
            </div>
        </div>
        

        <div class="row" style="margin-top: 10px;" >
            <div class="col50">
                <input type="hidden" required [(ngModel)] = Party.PartySno  />
                <div class="formGroup">                    
                    <input type="text" class="formControlreadonly" disabled="" required [(ngModel)] = Party.Party_Code   />
                    <label for="" class="formLabelreadonly"> Code </label>
                </div>
            </div>

            <div class="col50">
                <div class="formGroup" [ngClass]="!PartyNameValid ? 'invalid' : ''" >
                    <input type="text" class="formControl" required [(ngModel)] = Party.Party_Name  />
                    <label for="" class="formLabel"> Job Worker Name </label>
                    <div class="errorHint" *ngIf="!PartyNameValid" > Invalid Name </div> 
                </div>
            </div>
        </div> 
        
        
        <div class="row" style="margin-top: 15px;">
            <div class="col50" >
                <div class="row" >
                    <div class="col100">                        
                        <textarea class="txtadd" rows="6" [(ngModel)] = Party.Address ></textarea>
                    </div>                    
                </div>

                <div class="row" style="margin-top: 15px;">
                    <div class="col100">
                        <div class="formGroup">
                            <input type="text" class="formControl" required  [(ngModel)] = Party.City />
                            <label for="" class="formLabel"> City </label>
                        </div>
                    </div>                    
                </div>

                <div class="row" style="margin-top: 15px;">
                    <div class="col100">
                        <div class="formGroup">
                            <input type="text" class="formControl" required  [(ngModel)] = Party.Pincode />
                            <label for="" class="formLabel"> Pincode </label>
                        </div>
                    </div>                    
                </div>
            </div>

            <div class="col50">
                <div class="row" >
                    <div class="col100">
                        <div class="formGroup">
                            <input type="text" class="formControl" required  [(ngModel)] = Party.State />
                            <label for="" class="formLabel"> State </label>
                        </div>
                    </div>                    
                </div>
                
                <div class="row" style="margin-top: 15px;">
                    <div class="col100">
                        <div class="formGroup" [ngClass]="!MobNumberValid ? 'invalid' : ''" >
                            <input type="text" class="formControl" required  [(ngModel)] = Party.Mobile />
                            <label for="" class="formLabel"> Mobile </label>
                            <div class="errorHint" *ngIf="!MobNumberValid" > Invalid Name </div> 
                        </div>
                    </div>                    
                </div>

                <div class="row" style="margin-top: 15px;">
                    <div class="col100">
                        <div class="formGroup">
                            <input type="text" class="formControl" required  [(ngModel)] = Party.Email />
                            <label for="" class="formLabel"> Email </label>
                        </div>
                    </div>                    
                </div>

                <div class="row" style="margin-top: 15px;">
                    <div class="col100">
                        <div class="formGroup">
                            <input type="text" class="formControl" required  [(ngModel)] = Party.Mobile />
                            <label for="" class="formLabel"> Mobile </label>
                        </div>
                    </div>                    
                </div>

            </div>
        </div>

        <br>
        <hr>

        <div class="row" style="margin-top: 15px;">
            <div class="col50">
                <div class="formGroup">
                    <input type="text" class="formControl" required  [(ngModel)] = Party.Reg_Number />
                    <label for="" class="formLabel"> Registration Number </label>
                </div>
            </div>

            <div class="col50" style="text-align: center;" >
                <div class="formGroup">
                    <input type="text" class="formControl" required  [(ngModel)] = Party.Remarks />
                    <label for="" class="formLabel"> Remarks </label>
                </div>
            </div>
        </div>

        


    <div class="footer">
        <button (click)="SaveParty()" > <i class="fa-solid fa-floppy-disk"></i> &nbsp; Save</button>
        <button (click)="DeleteParty()" class="red"> <i class="fa-solid fa-trash"></i> &nbsp; Delete</button>
    </div>

</div>


