<div class="modalForm">
    <div class="header">
        <div class="headerLeft">
            <i class="fa-solid fa-object-group"></i>
            <p> &nbsp; User</p>
        </div>
        <div class="headerRight">
            <p (click)="CloseDialog()" >&times;</p>
        </div>
    </div>

    <div class="body">
        <div class="row" style="margin-top: 5px;" >
            <div class="col50">
                <input type="hidden" required [(ngModel)] = User.UserSno  />
                <div class="formGroup" [ngClass]="!UserNameValid ? 'invalid' : ''" >
                    <input type="text" class="formControl" required [(ngModel)] = User.UserName  />
                    <label for="" class="formLabel"> User Name </label>
                    <div class="errorHint" *ngIf="!UserNameValid" > Invalid Name </div>
                </div>
            </div>

            <div class="col50">
                <div class="formGroup" [ngClass]="!PasswordValid ? 'invalid' : ''" >
                    <input type="password" class="formControl" required [(ngModel)] = User.Password  />
                    <label for="" class="formLabel"> Password </label>
                    <div class="errorHint" *ngIf="!PasswordValid" > Invalid Password </div>
                </div>
            </div>
        </div> 

        

        <div class="row" style="margin-top: 15px; display: flex; flex-direction: row; align-items: center; text-align: center;">

            <div class="col50">
                <div class="matGroup">
                    <div class="matSelect">
                        <mat-select [(value)]="User.User_Type"  >
                            <mat-option [value]="0">User</mat-option>
                            <mat-option [value]="1">Admin</mat-option>
                        </mat-select>
                    </div>
                    <div class="matLabel">
                        User Type
                    </div>
                </div>

            </div>
            <div class="col50">
                <label class="toggle">                    
                    <input class="toggle-checkbox" type="checkbox" [checked]="User.Active_Status" [(ngModel)]="User.Active_Status"> <!-- (change)="SetActiveStatus($event)"  -->
                    <div class="toggle-switch"></div>
                    <span class="toggle-label"> {{User.Active_Status == 1? 'Active' : 'InActive' }}  </span>
                </label>
            </div>         
        </div>

        <p style="margin: 1rem;" >***Tick the Companies below you want to give access</p>
        <table class="compTable">
            <thead>
                <th> # </th>
                <th>Company Name</th>
            </thead>

            <tbody>
                <tr *ngFor="let comp of companiesList; let i = index;" >                    
                    <td> <mat-checkbox (click)="UpdateRights($event,i)"  [checked]=CompRights[i].Checked >  </mat-checkbox></td>
                    <td> {{comp.Comp_Name}}  </td>
                </tr>
            </tbody>
        </table>

        

    </div>

    <div class="footer">
        <button (click)="SaveUser()" > <i class="fa-solid fa-floppy-disk"></i> &nbsp; Save</button>
        <button (click)="DeleteUser()" class="red"> <i class="fa-solid fa-trash"></i> &nbsp; Delete</button>
    </div>
</div>