<div class="formContainer">
    <div class="header">
        <div class="headerLeft">
            <i class="fa fa-arrow-circle-left" aria-hidden="true" (click)="GoBack()" ></i>
            <p class="heading">Jobwork Inward</p>
            <p class="edit"> -> Add/Edit</p>
        </div>
        <div class="headerRight">
            <i style="color: green;" (click)="SaveTransaction()" class="fa fa-floppy-o" aria-hidden="true"></i>            
            <i class="fa fa-print" (click)="PrintTransaction()" aria-hidden="true"></i>
            <i style="color: red;" (click)="DeleteTransaction()" class="fa fa-trash" aria-hidden="true"></i>
        </div>
    </div>
 
    <div class="content"> 
        <div class="docHeader">            
            <div class="colLeft" [ngClass]="BillDetailsInvalid ? 'errDiv' : ''">                
                <p style="font-weight: bold; padding: .5rem;" >Bill Details</p>
                <app-docheader [SelectedDoc]="SelectedDoc" [NettAmount]="NettAmount" (newDocEvent)="getDocHeader($event)"></app-docheader>
            </div>

            <div class="colRight" [ngClass]="PartyInvalid ? 'errDiv' : ''" >
                <p style="font-weight: bold; padding: .5rem;" >Client Details</p>
                <app-partycard [SelectedParty]="Transaction.Party" [PartyCat]="1"  (newPartyEvent)="getParty($event)"> </app-partycard>
            </div>
        </div>

        <div class="docBody" [ngClass]="ItemDetailsInvalid ? 'errDiv' : ''">
            <p style="font-weight: bold; padding: .5rem;" >Item Details</p>            
            <app-itemdetails               
                                    [DocNo]="SelectedDoc.Trans_No"
                                    [TransImages]="TransImages"
                                    (newTransImages)="getGridDetails($event)"
                                    [GridDataSource]="GridList" 
                                    (newGridEvent)="getGridDetails($event)"                                    
                                    [GridTotals]="GridTotals" 
                                    (newGridTotal)="getGridTotals($event)"                                        
                                    [VouTypeSno]="17"                                                     
                                    [DisableAmtCols]="true"         
                                    [EnableBatch]="false"                           
                                    >
            </app-itemdetails>    
        </div>

        <div class="docFooter">
            <div class="colLeft">                
                <div class="formGroup">
                    <input type="text" class="formControl" required [(ngModel)] = Transaction.Remarks   />
                    <label for="" class="formLabel"> Remarks </label>
                </div>
                <div class="formGroup">
                    <input type="text" class="formControl" required [(ngModel)] = Transaction.Print_Remarks   />
                    <label for="" class="formLabel"> Print Remarks </label>                    
                </div>
            </div>
            <div class="colRight">
                <div class="formGroup" style="visibility: hidden;" >
                    <input type="text"  style="font-weight: bold;" class="formControlreadonly" readonly required [(ngModel)] = Transaction.TotAmount   />
                    <label for="" class="formLabelreadonly"> Total Amount </label>
                    <!-- <div class="errorHint" *ngIf="!UomNameValid" > Invalid Name </div> -->
                </div>
                <div class="formGroup" style="visibility: hidden;" >
                    <input type="text" style="font-weight: bold;" class="formControlreadonly" readonly required [(ngModel)] = Transaction.TaxPer   />
                    <label for="" class="formLabelreadonly"> Gst % </label>
                    <!-- <div class="errorHint" *ngIf="!UomNameValid" > Invalid Name </div> -->
                </div>

                <div class="formGroup" style="visibility: hidden;" >
                    <input type="text" style="font-weight: bold;" class="formControlreadonly" readonly required [(ngModel)] = Transaction.TaxAmount   />
                    <label for="" class="formLabelreadonly"> Gst Amount </label>
                    <!-- <div class="errorHint" *ngIf="!UomNameValid" > Invalid Name </div> -->
                </div>

                <div class="formGroup" style="visibility: hidden;" >
                    <input type="text" style="font-weight: bold;" class="formControlreadonly" readonly required [(ngModel)] = Transaction.RevAmount   />
                    <label for="" class="formLabelreadonly"> Reverse Gst </label>
                    <!-- <div class="errorHint" *ngIf="!UomNameValid" > Invalid Name </div> -->
                </div>

                <div class="formGroup" style="visibility: hidden;" > 
                    <input type="text" style="font-weight: bold;text-align: center; font-size: 1.5rem;" class="formControlreadonly" readonly required [(ngModel)] = Transaction.NettAmt   />
                    <label for="" class="formLabelreadonly"> Nett Amount </label>
                    <!-- <div class="errorHint" *ngIf="!UomNameValid" > Invalid Name </div> -->
                </div>
            </div>
            
        </div>

        <div class="docFooter">
            <div class="colLeft">

            </div>
            <div class="colRight">                
                <button class="uiBtn" (click)="SaveTransaction()" > <i  class="fa fa-floppy-o" aria-hidden="true"></i>   &nbsp;&nbsp;          Save</button>
                <button class="uiBtn" (click)="DeleteTransaction()" > <i class="fa fa-trash" aria-hidden="true"></i> &nbsp;&nbsp; Delete</button>
            </div>
            
        </div>

        
    </div>
</div>
<!-- <div class="mastersList">
    <div class="header">
        <div class="headerLeft" style="display: flex; align-items: center; justify-content: space-between;" >     
            <i class="fa-solid fa-object-group"></i>   
            <p class="heading"> &nbsp; Buying Contracts </p>        
            <p style="color: green; font-size: 1.2rem;" > &nbsp;&nbsp; -- (New Contract)</p>
        </div>

        <div class="headerRight">
            <i class="fa fa-print" aria-hidden="true"></i>
        </div>
    </div>  
</div>


<div class="content">
    <app-partycard> </app-partycard>
</div> -->
