<div class="modalForm">
    <div class="header">
        <div class="headerLeft">
            <i class="fa-solid fa-object-group"></i>
            <p> &nbsp; Ledger </p>
        </div>
        <div class="headerRight">
            <p (click)="CloseDialog()" >&times;</p>
        </div>
    </div>

    <div class="body">
        <div class="row" style="margin-top: 5px;" >           

            <div class="col50">
                <div class="formGroup" [ngClass]="!LedgerNameValid ? 'invalid' : ''" >
                    <input type="text" class="formControl" required [(ngModel)] = Ledger.Led_Name  />
                    <label for="" class="formLabel"> Ledger Name </label>
                    <div class="errorHint" *ngIf="!LedgerNameValid" > Invalid Name </div>
                </div>
            </div>

            <div class="col50">
                <div class="formGroup">
                    <app-selectionlist [Caption]="'Ledger Group'"   [DataSource]="LGrpList" [SelectedItem]="SelectedLGrp"  (newItemEvent)="getLGrp($event)"></app-selectionlist>             
                </div>
            </div>

        </div> 

        <div class="row" style="margin-top: 15px; display: flex; flex-direction: row; align-items: center; text-align: center; ">
            <div class="col50">
                <label class="toggle">
                    <input class="toggle-checkbox" type="checkbox" readonly [checked]="Ledger.IsStd" [(ngModel)]="Ledger.IsStd"> <!-- (change)="SetActiveStatus($event)"  -->
                    <div class="toggle-switch"></div>
                    <span class="toggle-label"> {{Ledger.IsStd == 1? 'Std' : 'Normal' }}  </span>
                </label>
            </div>

            <div class="col50">
                <div class="formGroup">
                    <input type="number" class="formControl" required [(ngModel)] = Ledger.Open_Balance  />
                    <label for="" class="formLabel"> Opening Balance </label>                    
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 15px;" >           

            <div class="col100">
                <div class="formGroup" >
                    <input type="text" class="formControl" required [(ngModel)] = Ledger.Remarks  />
                    <label for="" class="formLabel"> Remarks </label>                    
                </div>
            </div>

        </div> 

    </div>

    <div class="footer">
        <button (click)="SaveLedger()" > <i class="fa-solid fa-floppy-disk"></i> &nbsp; Save</button>
        <button (click)="DeleteLedger()" class="red"> <i class="fa-solid fa-trash"></i> &nbsp; Delete</button>
    </div>
</div>